* {
    padding: 0;
    margin : 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    background-color: hsl(0, 0%, 8%);
    display: grid;
    place-items: center;
    height: 100vh;
}


#main-card {
    width: 240px;
    max-width: 75%;
    height: 400px;
    max-height: 90%;
    background: hsl(0, 0%, 12%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#main-card > *:not(.living-location) {
    color: #fff;
}


div.user-info {
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

div.user-info img {
    width: 50px;
    border-radius: 50%;
}

h2.username {
    font-size: 18px;
}


span.living-location {
    color: hsl(75, 94%, 57%);
    position: relative;
    top: -15px;
    font-size: 11px;
}

span.role-discription {
    font-size: 10px;
}

div.social-media-links {
    width: 80%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-media-links a {
    width: 100%;
    background: hsl(0, 0%, 20%);
    height: 30px;
    border: none;
    border-radius: 8px;
    list-style-type: none;
    display: grid; place-items: center;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.social-media-links a:hover {
    opacity: 0.5;
}

.social-media-links a:active {
    opacity: 1;
}